.cm-editor {
    outline: none !important;
}

.cm-content,
.cm-gutters {
    font-size: 1rem;
    font-family: 'Consolas', 'Microsoft YaHei';
}

.text-editor {
    .cm-editor {
        height: 250px;
    }
}